<%- include("templates/encabezado.ejs")%> <%-
include("templates/menu-desplegable.ejs")%>

<div id="container-infoInorga">
  <img
    src="/GreenWaste/css/media/fondoInorganicos.jpg"
    alt=""
    id="fondoInorganicos"
  />
  <div id="cuadroInorganiInfo">
    <div id="infoInorganic-titulo">
      <h1>¿Que son los residuos inorganicos?</h1>
    </div>
    <div id="infoInorganic-texto">
      <p>Los residuos inorgánicos son desechos no biodegradables, como plásticos, vidrios, metales y productos químicos, que no se descomponen naturalmente y requieren procesos especiales de manejo y eliminación.</p>
    </div>
  </div>
</div>

<div class="inorganic-options-div">
  <div class="inorganic-option1"></div>
  <div class="inorganic-option2"></div>
  <div class="inorganic-option3"></div>
  <div class="inorganic-option4"></div>
  <div class="inorganic-option5"></div>
  <div class="inorganic-option6"></div>
</div>
<%- include("templates/pie.ejs")%>
