<%- include("templates/encabezado.ejs")%>
<%- include("templates/menu-desplegable.ejs")%>

<div id="container-infoOrga">
  <img
    src="/GreenWaste/css/media/fondoOrganicos.jpg"
    alt=""
    id="fondoOrganicos"
  />
  <div id="cuadroOrganiInfo">
    <div id="infoOrganic-titulo">
      <h1>¿Que son los residuos organicos?</h1>
    </div>
    <div id="infoOrganic-texto">
      <p>Los residuos orgánicos son desechos de origen biológico, como restos de alimentos, plantas, animales y materiales biodegradables. Estos desechos pueden descomponerse naturalmente a través de procesos biológicos y ser utilizados como fertilizantes o convertidos en biogás.</p>
    </div>
  </div>
</div>

<div class="organic-options-div">
  <div class="organic-option1"></div>
  <div class="organic-option2"></div>
  <div class="organic-option3"></div>
  <div class="organic-option4"></div>
  <div class="organic-option5"></div>
  <div class="organic-option6"></div>
</div>

<%- include("templates/pie.ejs")%>
