<%- include("templates/encabezado.ejs")%>
<%- include("templates/menu-desplegable.ejs")%>

<div class="container-toxic">
    <div class="info-container-toxic">
      <h2>Información sobre la disposición de residuos tóxicos</h2>
      <p>
        Los residuos tóxicos, como los productos químicos peligrosos, requieren un manejo adecuado para proteger la salud humana y el medio ambiente. Es importante seguir las siguientes pautas para su correcta disposición:
        <ul>
          <li>Identifica los productos químicos tóxicos que necesitas desechar y asegúrate de separarlos adecuadamente de otros residuos.</li>
          <li>Busca un punto de recogida o centro de manejo de residuos tóxicos en tu área. Puedes consultar las autoridades locales o agencias ambientales para obtener información sobre los lugares cercanos.</li>
          <li>Sigue las instrucciones proporcionadas por el centro de manejo de residuos tóxicos para el embalaje y etiquetado adecuados.</li>
          <li>Transporta los residuos tóxicos de manera segura al centro de manejo siguiendo todas las precauciones necesarias.</li>
          <li>No mezcles diferentes tipos de productos químicos tóxicos, ya que pueden producir reacciones peligrosas.</li>
        </ul>
        Recuerda que el manejo adecuado de los residuos tóxicos es esencial para proteger nuestra salud y el entorno en el que vivimos.
      </p>
    </div>
    <div class="img-toxic">
      <img src="/GreenWaste/css/media/mapa-toxic.jpeg">
    </div>
  </div>

<%- include("templates/pie.ejs")%>