<header>
    <select name="menu" id="menu">
      <option value="inicio"><a href="#">Inicio</a></option>
      <option value="acerca de"><a href="#" target="_blank">Acerca de</a></option>
      <option value="servicios"><a href="#">Servicios</a></option>
      <option value="contacto"><a href="#">Contacto</a></option>
    </select>
    <div class="logo">
      <a href="inicio">
        <img
          src="/GreenWaste/css/media/Recurso 1.png"
          alt="Logo"
          class="logo-image"
          id="logo_nachon"
        />
      </a>
    </div>
    <div class="search-container">
      <input type="text" class="search-input" />
      <button type="submit" class="search-button">
        <img src="/GreenWaste/css/media/lupa.png" alt="Buscar" />
      </button>
    </div>
  </header>