<footer>
    <div class="container-footer-all">
      <div class="container-body">
        <div class="columna1">
          <h1>Más información de la compañía</h1>
          <p>
            ¡Bienvenido a Greenwaste! En Greenwaste, estamos comprometidos a
            hacer del mundo un lugar más sostenible, fomentando el reciclaje,
            el compostaje y la gestión adecuada de los residuos. Nuestra
            misión es promover prácticas ambientalmente responsables y
            facilitar el acceso a información crucial sobre cómo manejar los
            desechos de manera segura y eficiente.
            <br />
            <br />
            ¿Tienes alguna pregunta, sugerencia o consulta? ¡Nos encantaría
            escucharte! No dudes en ponerte en contacto con nuestro equipo a
            través de nuestro formulario en línea o por correo electrónico.
            Estamos aquí para ayudarte en tu viaje hacia una vida más
            sostenible y una gestión de residuos responsable.
          </p>
        </div>
        <div class="columna2">
          <h1>Redes Sociales</h1>
          <div class="row">
            <img src="/GreenWaste/css/media/logo_face.png" />
            <label>Síguenos en Facebook</label>
          </div>
          <div class="row">
            <img src="/GreenWaste/css/media/logo_twittter.png" />
            <label>Síguenos en Twitter</label>
          </div>
          <div class="row">
            <img src="/GreenWaste/css/media/logo_insta.png" />
            <label>Síguenos en Instagram</label>
          </div>
        </div>

        <div class="columna3">
          <h1>Información de Contacto</h1>
          <div class="row2">
            <img src="/GreenWaste/css/media/iconoDir.png" />
            <label>Dirección</label>
          </div>
          <div class="row2">
            <img src="/GreenWaste/css/media/iconoTel.png" />
            <label>+52 442 1234567</label>
          </div>
          <div class="row2">
            <img src="/GreenWaste/css/media/iconoCorreo.png" />
            <label>GreenWaste@support.com</label>
          </div>
        </div>
      </div>
    </div>

    <div class="container-footer">
      <div class="footer">
        <div class="copyright">
          © 2023 Todos los Derechos Reservados | <a href="">GreenWaste</a>
        </div>
        <div class="information">
          <a href="">Información de la Compañía</a> |
          <a href="">Privacidad y Política</a> |
          <a href="">Términos y Condiciones</a>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>